ul#horizontal-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    
    }
        
ul#horizontal-list li {
    float: left;
    }
    
ul#horizontal-language-list {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: transparent
        
}

div#languagetable {
    position:absolute;
	right:1em;
	top:2em;
}

div#languagetable li{
    cursor: pointer;
}

nav a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav a.active {
background:green;

}
nav a:hover {
    background-color: #111111;
}