<div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="content" *ngIf="isenglish">
                            <div class="alert alert-info">
                                <span><b>Church History</b></span>
                            </div>
                            <p>Eastside Christian Community Church, located in Bellevue (east of Seattle), was established in 1985. We believe in the Bible and Jesus Christ. Our church does not belong to any denomination and our church members come from different backgrounds. We welcome you to join us to worship and fellowship together so that we may spread the salvation of Jesus Christ.</p>
    
                            <div class="alert alert-info">
                                <span><b>Church Vision</b></span>
                            </div>
                            <p>Christ is All and in all. He is also head of the body, the church.</p>
                            <p>“Put on the new self who is being renewed to a true knowledge according to the image of the One who created him 11 a renewal in which there is no distinction between Greek and Jew, circumcised and uncircumcised, barbarian, Scythian, slave and freeman, but Christ is all, and in all.” (Colossians 3:10-11)</p>
                            <p>“For He delivered us from the domain of darkness, and transferred us to the kingdom of His beloved Son, 14 in whom we have redemption, the forgiveness of sins. 15 And He is the image of the invisible God, the first-born of all creation. 16 For by Him all things were created, both in the heavens and on earth, visible and invisible, whether thrones or dominions or rulers or authorities -- all things have been created by Him and for Him. 17 And He is before all things, and in Him all things hold together. 18 He is also head of the body, the church; and He is the beginning, the first-born from the dead; so that He Himself might come to have first place in everything.” (NAS - Colossians 1:13-18)</p>
                            <div class="alert alert-info">
                                <span><b>Church Mission</b></span>
                            </div>
                            <p>Inward: Come to Me, Take My yoke upon you, and Learn from Me.
                            <br> “Come to Me, all who are weary and heavy-laden, and I will give you rest. 29 Take My yoke upon you, and learn from Me, for I am gentle and humble in heart; and you shall find rest for your souls. 30 For My yoke is easy, and My load is light.” (NAS - Matthew 11:28-30)</p>
                            <p>Outward: Go therefore and make disciples of all the nations.
                            <br>“And Jesus came up and spoke to them, saying, "All authority has been given to Me in heaven and on earth. 19 "Go therefore and make disciples of all the nations, baptizing them in the name of the Father and the Son and the Holy Spirit, 20 teaching them to observe all that I commanded you; and lo, I am with you always, even to the end of the age."”(NAS - Matthew 28:18-20)</p>
                            <div class="alert alert-info">
                                <span><b>Our Faith</b></span>
                            </div>
                            <p>As the redeemed, saved by God's grace, we believe in, and hold fast to, the following:</p>
                            <p>1.We believe in one God, eternally existing in three Persons: Father, Son and Holy Spirit; and these three are the same in substance, equal in power and glory.</p>
                            <p>2.We believe in the Scriptures of the Old and the New Testaments as verbally and fully inspired by God and inerrant in the original writing, and that they are of supreme and final authority in faith and life.</p>
                            <p>3.We believe that Jesus Christ was begotten by the Holy Spirit, born of the Virgin Mary, and is true God and true man.</p>
                            <p>4.We believe that man was created in the image of God; that he sinned, and thereby incurred, not only physical death but also spiritual death which is separation from God; and that human beings are born with a sinful nature, and, in the case of those who reach moral responsibility, become sinners in thought, word and deed.</p>
                            <p>5.We believe that the Lord Jesus Christ died for our sins; according to the Scriptures, as a representative and substitutionary sacrifice; and that all who believe in Him are justified on the ground of His shed blood.</p>
                            <p>6.We believe in the resurrection of the crucified body of our Lord, in His ascension into Heaven, and in His present life there for us, as High Priest and Advocate.</p>
                            <p>7.We believe in the deity and personality of the Holy Spirit, who convicts the sinner, regenerates, indwells, enlightens and guides the believers.</p>
                            <p>8.We believe that all who receive by faith the Lord Jesus Christ are born again by the Holy Spirit, and thereby become children of God.</p>
                            <p>9.We believe on “that blessed hope” the personal and pre-millennial and imminent return of our Lord and Savor, Jesus Christ.</p>
                            <p>10.We believe in the bodily resurrection of the just and the unjust; the everlasting blessedness of the saved, and the everlasting punishment of the lost.</p>
                        </div> 
                        <div class="content" *ngIf="issimplifychinese">
                            <div class="alert alert-info">
                                <span><b>教会的历史</b></span>
                            </div>
                            <p>东区基督教会位於西雅图东边的 Bellevue﻿,成立於一九八五年,是根据圣经,信仰耶稣基督的教会。我们的教会不属於任何宗派,信徒来自不同背景.欢迎各地的弟兄姐妹和朋友一起来敬拜神,参加主内团契,同心广布基督救恩.</p>
        
                            <div class="alert alert-info">
                                <span><b>教会的异象</b></span>
                            </div>
                            <p>唯有基督是一切又在一切之内。他也是教会全体之首。</p>
                            <p>“穿上了新人，这新人在知识上渐渐更新,正如造他主的形像。在此并不分希利尼人;犹太人;受割礼的;未受割礼的;化外人;西古提人;为奴的;自主的;惟有基督是包括一切,又住在各人之内。” (歌罗西书 3:10-11)</p>
                            <p>“他救了我们脱离黑暗的权势,把我们迁到他爱子的国里.我们在爱子里得蒙救赎, 罪过得以赦免.爱子是那不能看见之神的像,是首生的,在一切被造的以先。因为万有都是靠他造的,无论是天上的,地上的,能看见的,不能看见的,或是有位的,主治的,执政的,掌权的,一概都是藉着他造的,又是为他造的。他在万有之先,万有也靠他而立。他也是教会全体之首。他是元始,是从死里首先复生的,使他可已在凡事上居首位。” (歌罗西书 1:13-18)</p>
                            <div class="alert alert-info">
                                <span><b>教会的使命</b></span>
                            </div>
                            <p>对内：到耶稣这里来,你们当负我的轭,学我的样式。
                            <br>“凡劳苦担重担的人,可以到我这里来,我就使你们得安息.我心里柔和谦卑,你们当负我的轭,学我的样式,这样,你们心里就必得享安息.因为我的轭是容易的,我的担子是轻省的。” (马太福音 11:28-30)</p>
                            <p>对外：所以你们要去,使万民作我的门徒。
                            <br>“耶稣进前来对他们说,'天上,地下所有的权柄,都赐给我了。所以你们要去,使万民作我的门徒,奉父子圣灵的名,给他们施洗归於父子圣灵的名,凡我所吩咐你们的,都教训他们遵守,我就常与你们同在,直到世界的末了。’” (马太福音 28:18-20)</p>
                            <div class="alert alert-info">
                                <span><b>我们的信仰</b></span>
                            </div>
                            <p>我们是蒙恩得救的人。我们坚持并且笃信</p>
                            <p>1.我们笃信独一真神，父、子、圣灵三位一体，永生永存，本质相同，权能与荣耀相等。</p>
                            <p>2.我们笃信旧约与新约之经文，其一字一句全部由神启示所写成的。原文绝无错误，乃我们信仰与生命最高、最终之权威。</p>
                            <p>3.我们笃信耶稣是由圣灵感孕，藉马利亚童贞女身所诞生，是真神也是真人。</p>
                            <p>4.我们笃信人是照神的形像被神所创造。因犯罪不单招致肉身死亡，亦招致灵命死亡，与神隔绝。人类生来有罪性，因此人届鉴别道德责任能力时，则在思想、言语、行为上显明为罪人。</p>
                            <p>5.我们笃信主耶稣基督为我们的罪死，照圣经所言成为代表性和代替性的祭物。凡信他的都因他所流的宝血称义。</p>
                            <p>6.我们笃信主耶稣基督被钉十字架之身体复活、升天，如今在天上为我们的大祭司和中保。</p>
                            <p>7.我们笃信圣灵的神性和位格。圣灵使人知罪，给以重生，并居位於信徒心中，启化和引导。</p>
                            <p>8.我们笃信凡用信心接受耶稣基督之人就为圣灵重生，成为神的儿女。</p>
                            <p>9.我们笃信那“有福之盼望”就是救主耶稣基督在千禧年前随时再来。</p>
                            <p>10.我们笃信义者及不义者的身体复活。得救者享永福，沉沦者受永刑</p>
                        </div> 
                        <div class="content" *ngIf="istraditionalchinese">
                            <div class="alert alert-info">
                                <span><b>教會的歷史</b></span>
                            </div>
                            <p>東區基督教會位於西雅圖東邊的Bellevue,成立於一九八五年,是根據聖經,信仰耶穌基督的教會。我們的教會不屬於任何宗派,信徒來自不同背景.歡迎各地的弟兄姐妹和朋友一起來敬拜神,參加主內團契,同心廣佈基督救恩.</p>
                                
                            <div class="alert alert-info">
                                <span><b>教會的異象</b></span>
                            </div>
                            <p>唯有基督是一切又在一切之內。他也是教會全體之首。</p>
                            <p>“穿上了新人，這新人在知識上漸漸更新,正如造他主的形像。在此並不分希利尼人;猶太人;受割禮的;未受割禮的;化外人;西古提人;為奴的;自主的;惟有基督是包括一切,又住在各人之內。” (歌羅西書 3:10-11)</p>
                            <p>“他救了我們脫離黑暗的權勢,把我們遷到他愛子的國裡.我們在愛子裡得蒙救贖, 罪過得以赦免.愛子是那不能看見之神的像,是首生的,在一切被造的以先。因為萬有都是靠他造的,無論是天上的,地上的,能看見的,不能看見的,或是有位的,主治的,執政的,掌權的,一概都是藉著他造的,又是為他造的。他在萬有之先,萬有也靠他而立。他也是教會全體之首。他是元始,是從死裡首先復生的,使他可已在凡事上居首位。” (歌羅西書 1:13-18)</p>
                            <div class="alert alert-info">
                                <span><b>教會的使命</b></span>
                            </div>
                            <p>對內：到耶穌這裡來,你們當負我的軛,學我的樣式。
                            <br>“凡勞苦擔重擔的人,可以到我這裡來,我就使你們得安息.我心裡柔和謙卑,你們當負我的軛,學我的樣式,這樣,你們心裡就必得享安息.因為我的軛是容易的,我的擔子是輕省的。” (馬太福音 11:28-30)</p>
                            <p>對外：所以你們要去,使萬民作我的門徒
                            <br>“耶穌進前來對他們說,‘天上,地下所有的權柄,都賜給我了。所以你們要去,使萬民作我的門徒,奉父子聖靈的名,給他們施洗歸於父子聖靈的名,凡我所吩咐你們的,都教訓他們遵守,我就常與你們同在,直到世界的末了。’” (馬太福音 28:18-20)</p>
                            <div class="alert alert-info">
                                <span><b>我們的信仰</b></span>
                            </div>
                            <p>我們是蒙恩得救的人。我們堅持並且篤信</p>
                            <p>1.我們篤信獨一真神，父、子、聖靈三位一體，永生永存，本質相同，權能與榮耀相等。</p>
                            <p>2.我們篤信舊約與新約之經文，其一字一句全部由神啟示所寫成的。原文絕無錯誤，乃我們信仰與生命最高、最終之權威。</p>
                            <p>3.我們篤信耶穌是由聖靈感孕，藉馬利亞童貞女身所誕生，是真神也是真人。</p>
                            <p>4.我們篤信人是照神的形像被神所創造。因犯罪不單招致肉身死亡，亦招致靈命死亡，與神隔絕。人類生來有罪性，因此人屆鑒別道德責任能力時，則在思想、言語、行為上顯明為罪人。</p>
                            <p>5.我們篤信主耶穌基督為我們的罪死，照聖經所言成為代表性和代替性的祭物。凡信他的都因他所流的寶血稱義。</p>
                            <p>6.我們篤信主耶穌基督被釘十字架之身體復活、升天，如今在天上為我們的大祭司和中保。</p>
                            <p>7.我們篤信聖靈的神性和位格。聖靈使人知罪，給以重生，並居位於信徒心中，啟化和引導。</p>
                            <p>8.我們篤信凡用信心接受耶穌基督之人就為聖靈重生，成為神的兒女。</p>
                            <p>9.我們篤信那“有福之盼望”就是救主耶穌基督在千禧年前隨時再來。</p>
                            <p>10.我們篤信義者及不義者的身體復活。得救者享永福，沉淪者受永刑。</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
