<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info">
                            <span><b>{{currentmessagetitle}}</b></span>
                        </div>
                        <table class="table table-hover table-striped">
                            <tbody>
                                <tr *ngFor="let message of messagedata">
                                    <td *ngIf="message.hasdate">{{message.date}}</td>
                                    <td>{{message.speaker}}</td>
                                    <td>{{message.title}}</td>
                                    <td><a target="_blank" *ngIf="message.hasnote" href="{{message.noteurl}}"><img alt="watch online" src="images/note.png" class="fontsizebutton"/></a></td>
                                    <td><a target="_blank" *ngIf="message.hasvideo" href="{{message.mp4file}}"><img alt="watch online" src="images/play.png" class="fontsizebutton"/></a></td>
                                    <td><a target="_blank" *ngIf="message.hasaudio" href="{{message.mp3file}}"><img alt="listen online" src="images/playaudio.png" class="fontsizebutton"/></a></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>