<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="content">
                        <div class="alert alert-info" *ngIf="issimplifychinese">
                            <span><b>福音活动</b></span>
                        </div>
                        <div class="alert alert-info" *ngIf="istraditionalchinese">
                            <span><b>福音活動</b></span>
                        </div>
                        <div class="alert alert-info" *ngIf="isenglish">
                            <span><b>Gospel Events</b></span>
                        </div>
                        
                        <p *ngIf="isenglish">
                            Praise the Lord. Many brothers and sisters at ECCC, by the calling of God, actively participate in the missionary work all over the world. Our local gospel ministry includes our bi-monthly Gospel Nights and Seattle Gospel Center. In addition, we have established overseas missionary fields in the Far East, South America, Taiwan, Cambodia, and India.
                            <br/><br/><i class="fa fa-circle text-info"></i>Chinatown
                        </p>
                        <p *ngIf="issimplifychinese">
                            感谢主,东区基督教会的弟兄姐妹在主的呼召下积极参与世界各地的宣教事工.除了藉在西雅图的福音中心和教会举办的福音晚会来推展本地的福音工作.并在海外建立了各个工场.如远东,巴西,印度,台湾,柬埔寨等地方.
                            <br/><br/><i class="fa fa-circle text-info"></i>唐人街布道
                        </p>
                        <p *ngIf="istraditionalchinese">
                            感謝主,東區基督教會的弟兄姐妹在主的呼召下積極參與世界各地的宣教事工.除了藉在西雅圖的福音中心和教會舉辦的福音晚會來推展本地的福音工作.並在海外建立了各個工場.如遠東,巴西,印度,台灣,柬埔寨等地方.
                            <br/><br/><i class="fa fa-circle text-info"></i>唐人街佈道
                        </p>

                        <div class="content all-icons">
                            <div class="row">
                                <div *ngFor="let picture of gospelpictures" class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                <a target="_blank" href="{{picture.onedrivepath}}">
                                    <div class="font-icon-detail">
                                        <p><img alt="street fair thumbnail picture" src="{{picture.imagepath}}" class="imageicon" /></p>
                                        <input type="text" value="{{picture.date}}" class="cursor">
                                    </div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>