<div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="content">
                            <div class="alert alert-info">
                                <span><b>{{currentmessagetitle}} {{date}}</b></span>
                            </div>
                            <div *ngFor="let info of currentinformation">
                                    <p>{{info.title}} - {{info.speaker}}
                                        &nbsp;<a href="{{info.mp4file}}"><img alt="watch online" src="images/play.png" class="fontsizebutton"/></a>
                                        &nbsp;<a href="{{info.mp3file}}"><img alt="listen online" src="images/playaudio.png" class="fontsizebutton"/></a>
                                    </p>
                            </div>
                            <p (click)="ToggleHistory()">
                                <img alt="expand" src="images/{{iconfilename}}"  class="fontsizebutton"/>
                                <span><b>{{currenthistorytitle}}</b></span>
                            </p>
                            <oldmessage *ngIf="showhistoryfile"></oldmessage>
                            <specialtopic></specialtopic>
                            <classes></classes>
                        </div> 
                    </div>
                </div>
        </div>
</div>
